/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

#black {
  height: 50px;
  width:50px;
}

.flatBlack {
  background-image: url(media/fSwamp.png)
}

.glassBlack {
  background-image: url(media/gSwamp.png)
}

#blue {
  height: 50px;
  width:50px;
}

.flatBlue {
  background-image: url(media/fIsland.png)
}

.glassBlue {
  background-image: url(media/gIsland.png)
}

#green {
  height: 50px;
  width:50px;
}

.flatGreen {
  background-image: url(media/fForest.png)
}

.glassGreen {
  background-image: url(media/gForest.png)
}


#red {
  height: 50px;
  width:50px;
}

.flatRed {
  background-image: url(media/fMountain.png)
}

.glassRed {
  background-image: url(media/gMountain.png)
}

#white {
  height: 50px;
  width:50px;
}

.flatWhite {
  background-image: url(media/fPlain.png)
}

.glassWhite {
  background-image: url(media/gPlain.png)
}
